# Ignore Python bytecode
__pycache__/

# Ignore jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore
plots/
test_generative/
saved_objects/
out_files/
dist/
*.egg-info/
build/

*.out
._*
*.sh
*.pkl

.DS_Store
._.DS_Store
*.png
*.pdf


gbm_samples.txt
run_gbm.py
run_multiple_hitchhiker.py
multiple_hitch_params.txt