# Ignore Python bytecode
__pycache__/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore
plots/
test_generative/test_generative_2d/
test_generative/test_generative_3d/
test_generative/test_generative_4d/
test_generative/new_model/saved_objects/
test_generative/new_model/plots/
test_generative/new_model/out_files/
saved_objects/
GBM_data/
out_files/

*.out
._*

.DS_Store
._.DS_Store
*.png

