# Ignore Python bytecode
__pycache__/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore
plots/
test_generative/
saved_objects/
GBM_data/
out_files/

*.out
._*

.DS_Store
._.DS_Store
*.png

